* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white-100);
}

p {
  font-family: Roboto, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(148.74deg, var(--base-100) -2.93%, rgba(0, 0, 0, 0.8) 106.63%);
  color: var(--white-100);
}

.row {
  width: 100%;
  padding: 24px;
  display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
  gap: 24px;
  overflow: auto;
}

.row::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.row::-webkit-scrollbar-track {
  background: var(--white-500); /* color of the tracking area */
}

.row::-webkit-scrollbar-thumb {
  background-color: var(--base-100); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 4px solid var(--white-500); /* creates padding around scroll thumb */
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

header {
  padding: 24px 0;
  background-color: var(--base-100);
}

header a {
  font-size: 32px;
}

header a::after {
  content: "";
  display: block;
  background-color: var(--base-400);
  width: 0px;
  height: 1px;
  transition: width 300ms linear;
}

header a:hover::after {
  width: 100%;
}

section {
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

section h2 {
  font-size: 54px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-size: 62px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.info .description {
  max-width: 800px;
  font-family: Roboto, sans-serif;
  padding: 24px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.fullstack-projects,
.project-full {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.project-full {
  display: flex;
  gap: 24px;
}

.project-full__img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.project-full .img-holder {
  position: relative;
}

.project-full .img-holder::after {
  content: "";
  position: absolute;
  background: var(--base-400) url(../imagens/icons/github-icon.svg) no-repeat center center;
  background-size: 100%;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  bottom: 12px;
  left: 12px;
}

.project-full .project-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 18px;
  align-self: flex-start;
  flex: 1;
}

.project-full .project-info h3 {
  text-decoration: underline;
}

.project-full .project-info p {
  font-weight: 100;
}

.project-full .project-info ul {
  padding-left: 17px;
}
.project-full .project-info ul li {
  font-size: 15px;
  margin-top: 3px;
}

.experiences .experience-row {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: space-evenly;
}

footer {
  background-color: var(--base-100);
  padding: 24px 0;
  border-top: 2px solid var(--blue-400);
}

.social {
  display: flex;
  align-items: center;
  gap: 8px;
}
