:root {
  --base-100:#16161D;
  --base-200:#2C2C3A;
  --base-300:#424257;
  --base-400:#585874;
  --base-500:#6E6E91;
  --base-600:#8B8BA74d;
  --blue-100:#4271EA;
  --blue-200:#7194EF;
  --blue-300:#9FB7F4;
  --blue-400:#CDD9F9;
  --white-100:#FAFAFA;
  --white-200:#F7F7F7;
  --white-300:#E7E7E7;
  --white-400:#FFFFFF;
  --white-500:#ffffff13;
}